@font-face {
    font-family: geomanist;
    src: url(geomanist-regular-webfont.woff);
}
 
.font-common {
    font-family: geomanist;
}

body {
    background-color: gray;
}

body > div 
{
    border-radius: 30px;
}